<div class="wrapper">
<div class="title">
  <h4><%= @quiz.name %></h4>
</div>

<div class="questions">
<% if @quiz.id == 1 %>
  <%= form_for @user_options, :url => user_options_path(@user_options, :qid => @quiz.id), :html => {:method => :post} do |f| %>
    <%= @quiz.questions.first.name %>
    <%= f.collection_select :option_response_1, Option.where("id = '1' OR id = '2'"), :name, :name %>
    <hr>
    <%= @quiz.questions.second.name %>
    <%= f.collection_select :option_response_2, Option.where("id = '3' OR id = '4'"), :name, :name %>
    <hr>
    <%= @quiz.questions.third.name %>
    <%= f.collection_select :option_response_3, Option.where("id = '5' OR id = '6' OR id = '7' OR id = '8'"), :name, :name %>
  <br><br><%= f.submit "Submit", :id => "cbutton", :class => "cbutton" %>
  <% end %>
<% elsif @quiz.id == 2 %>
  <%= form_for @user_options, :url => user_options_path(@user_options, :qid => @quiz.id), :html => {:method => :post}  do |f| %>
  <%= @quiz.questions.first.name %>
  <%= f.collection_select :option_response_1, Option.where("id = '9' OR id = '10'"), :name, :name %>
  <hr>
  <%= @quiz.questions.second.name %>
  <%= f.collection_select :option_response_2, Option.where("id = '11' OR id = '12'"), :name, :name %>
  <hr>
  <%= @quiz.questions.third.name %>
  <%= f.collection_select :option_response_3, Option.where("id = '13' OR id = '14'"), :name, :name %>
  <br><br><%= f.submit "Submit", :id => "cbutton", :class => "cbutton" %>
  <% end %>
<% elsif @quiz.id == 3 %>
  <%= form_for @user_options, :url => user_options_path(@user_options, :qid => @quiz.id), :html => {:method => :post}  do |f| %>
    <%= @quiz.questions.first.name %>
    <%= f.collection_select :option_response_1, Option.where("id = '15' OR id = '16'"), :name, :name %>
    <hr>
    <%= @quiz.questions.second.name %>
    <%= f.collection_select :option_response_2, Option.where("id = '17' OR id = '18'"), :name, :name %>
    <hr>
    <%= @quiz.questions.third.name %>
    <%= f.collection_select :option_response_3, Option.where("id = '19' OR id = '20'"), :name, :name %>
  <br><br><%= f.submit "Submit", :id => "cbutton", :class => "cbutton" %>
  <% end %>
  <% elsif @quiz.id == 4 %>
  <%= form_for @user_options, :url => user_options_path(@user_options, :qid => @quiz.id), :html => {:method => :post}  do |f| %>
    <%= @quiz.questions.first.name %>
    <%= f.collection_select :option_response_1, Option.where("id = '21' OR id = '22' OR id = '23'"), :name, :name %>
    <hr>
    <%= @quiz.questions.second.name %>
    <%= f.collection_select :option_response_2, Option.where("id = '24' OR id = '25' OR id = '26'"), :name, :name %>
    <hr>
    <%= @quiz.questions.third.name %>
    <%= f.collection_select :option_response_3, Option.where("id = '27' OR id = '28'"), :name, :name %>
  <br><br><%= f.submit "Submit", :id => "cbutton", :class => "cbutton" %>
  <% end %>
<% end %>
</div>
</div>