<%= stylesheet_link_tag "application.css" %>

<!DOCTYPE html>
<html>
  <head>
    <title>Mod2Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if logged_in? %>
      <div class="menu">
        <%= link_to 'All Quizzes', quizzes_path, {class: 'item'} %>
        <%= link_to 'Logout', logout_path, {class: 'item'} %>
      </div>
    <% else %>
      <div class="menu">
        <%= link_to 'Sign up', new_user_path, {class: 'item'} %>
      </div>
    <% end %>
    <br>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
